<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TimVer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <TimVer.Properties.Settings>
            <setting name="SettingsUpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="LastRun" serializeAs="String">
                <value />
            </setting>
            <setting name="PrevBuild" serializeAs="String">
                <value />
            </setting>
            <setting name="PrevBranch" serializeAs="String">
                <value />
            </setting>
            <setting name="PrevVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="Zoom" serializeAs="String">
                <value>1</value>
            </setting>
        </TimVer.Properties.Settings>
    </userSettings>
</configuration>